html,
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  font-weight: 400;
  padding: 0;
  color: #505050;
  overflow-x: hidden;
}
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-small {
  width: 100%;
  position: relative !important;
}
a {
  text-decoration: none;
  color: #2cbca6;
}
h1 {
  color: #2cbca6;
  font-size: 80px;
  font-weight: 900;
}
h2 {
  font-family: "Lato", sans-serif;
  letter-spacing: -1px;
  color: #555;
  text-transform: lowercase;
}
p {
  line-height: 175%;
}
.home {
  box-sizing: border-box;
  text-align: center;
  padding: 50px;
}
.child {
  box-sizing: border-box;
  text-align: center;
}
.frame-green {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: -999;
}
.home-card {
  width: 160%;
  margin-left: 50%;
  right: 0;
  height: 160%;
  top: 0;
}
.logoImg {
  width: 160px;
}
.home-logo {
  width: 40%;
  position: absolute;
  bottom: 15px;
  right: 8%;
}
.home-logo img {
  width: 100%;
  -webkit-filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.1));
}
.home-text {
  margin: 105px 3%;
  text-align: left;
  width: 30%;
  position: absolute;
  background: #fff;
}
.home-text h1,
.home-text h2 {
  margin: 0;
}
.home-text h1 {
  font-size: 4.5rem;
  border-top: 6px solid #2cbca6;
  width: 80px;
  color: #444;
}
.home-text h2 {
  font-size: 1.5rem;
  margin-top: -15px;
  width: auto;
  display: inline-block;
}
.home-text a:hover {
  text-decoration: underline;
}
.home-cta {
  background: linear-gradient(to right, #2cbca6, #38c9c8);
  border-radius: 30px;
  padding: 10px 50px;
  margin-top: 10px;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1.5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}
.home-cta:hover {
  color: #2cbca6;
  background: #fff;
  text-decoration: none;
}
.home-cta a:hover {
  text-decoration: none;
}
.home-text img {
  width: 100px;
  margin-top: 25px;
  display: inline-block;
}
.home-text p {
  line-height: 135%;
}
.about-text {
  position: absolute;
  width: 40%;
  margin: 15% 0 0 -15px;
  background: #fff;
  border-bottom: 6px solid #2cbca6;
  padding: 20px;
  padding-left: 5%;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
}
.about {
  height: 93%;
}
.about-text h2 {
  color: #2cbca6;
  font-size: 0.75rem;
  letter-spacing: 2px;
  font-weight: 900;
  margin-top: -40px;
  text-transform: uppercase;
}
.about-text p {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 30px;
}
.members-text {
  position: absolute;
  width: 30%;
  margin: 15% 0 0 35%;
  background: #fff;
  border-bottom: 10px solid #2cbca6;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
}
.members-text h2 {
  color: #2cbca6;
}
.contact-text {
  position: absolute;
  width: 30%;
  right: 5%;
  margin-top: 5%;
}
.contact-text h2 {
  color: #2cbca6;
}
.menu-nav {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  z-index: 999999;
  color: #2cbca6;
  text-align: right;
  box-sizing: border-box;
  background: #fff;
  background-size: cover;
  -webkit-transition: 1s ease-in-out;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 15px;
}
.menu-nav a {
  color: #666;
  font-size: 1rem;
  font-weight: 700;
  margin: 10px;
}
.menu-nav img {
  height: 35px;
  position: fixed;
  left: 5%;
  margin-top: 5px;
}
.menu-vis {
  top: 0;
  left: 0px;
}
.menu-nav-col {
  width: 20%;
  min-height: 100px;
  display: inline-block;
}
.menu-nav-col h2 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
  width: 90%;
}
.menu-nav-col a {
  display: block;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  padding: 10px;
  border-left: 4px solid #fff;
  margin-top: 5px;
  width: 90%;
  box-sizing: border-box;
}
.green {
  color: #2cbca6;
}
.menu-fixed {
  width: 90%;
  margin: 5%;
  background: #fff;
  height: 80px;
  padding: 15px;
  box-sizing: border-box;
}
.menu-fixed img {
  height: 40px;
  padding: 15px;
}
.child-text {
  margin: 0% 10%;
  margin-top: 0%;
  padding-bottom: 35px;
  text-align: left;
  position: relative;
  z-index: 99;
}
.child-text h1,
.child-text h2 {
  margin: 0;
}

.header-bg h1 {
  font-size: 2.5rem;
  color: #fff;
}
.child-text h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  margin-top: 35px;
  text-align: left;
  margin-left: 50px;
}
.child-text p {
  margin-top: 35px;
}

.child-text-project h2 {
  margin-left: 0;
  text-align: center;
  margin-top: 30px;
}
.green-bar {
  height: 7px;
  width: 70px;
  background: #2cbca6;
  margin-bottom: 10px;
}
.green-bar-mission {
  width: 65px;
}
.green-bar-contact {
  width: 65px;
}
.material-icons .icon-big {
  font-size: 5rem;
}
.team {
  width: 100%;
  box-sizing: border-box;
  padding: 0% 10%;
  text-align: center;
}
.child-text-team {
  margin-top: 60px;
}
.header-bg {
  width: 100%;
  height: 30%;
  left: 0;
  z-index: 9;
  background-size: cover;
  max-height: 400px;
  text-align: left;
  top: 0;
  padding-top: 10%;
  padding-left: 10%;
}
.header-mission {
  background-image: url(img/team.jpg);
  background-position: top;
}
.header-team {
  background-image: url(img/computer.jpg);
  background-position: center;
}
.header-project {
  background-image: url(img/laptop.jpg);
  background-position: center;
}
.header-contact {
  background-image: url(img/teamwork.jpg);
  background-position: bottom;
}
.card-contact {
  width: 30%;
  box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px 30px;
  border-bottom: 10px solid #2cbca6;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin-right: 3%;
}
.card-contact h3 {
  color: #2cbca6;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 5px;
  font-size: 20px;
}
.card-contact p {
  margin-top: 5px;
}
.fab {
  color: #2cbca6;
  font-size: 2rem;
  letter-spacing: 10px;
}
.fadeInLeft {
  animation-duration: 2s;
}
.fadeInDown {
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}
.fadeInRight {
  animation-duration: 3s;
}
.card-team {
  width: 100%;
  margin-bottom: 50px;
  box-sizing: border-box;
  padding: 0px;
  vertical-align: top;
  display: inline-block;
  position: relative;
  border-radius: 8px;
  padding-bottom: 50px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
}
.card-team img {
  height: 100%;
  width: auto;
  padding: 0;
  position: absolute;
  display: inline-block;
}

.card-team h1 {
  text-align: center;
  font-weight: 700;
  color: #505050;
  font-size: 17px;
  letter-spacing: 5px;
  padding-top: 50px;
}
.card-team h2 {
  padding-left: 00px;
  padding-top: 20px;
}
.card-team h3 {
  padding-left: 50px;
  color: #2cbca6;
  text-align: left;
  margin: 0;
  padding-bottom: 5px;

  font-size: 1rem;
}
.card-team p {
  padding-left: 85px;
  padding-right: 15px;
  font-size: 0.8rem;
}
.child-text-project p {
  margin-top: 15px;
  display: inline-block;
  width: 70%;
  margin-left: 5%;
  vertical-align: top;
}
.child-text-project img {
  margin-top: 15px;
  width: 20%;
  display: inline-block;
  border-bottom: 10px solid #2cbca6;
  border-radius: 8px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  padding: 25px;
}
.nav-opener {
  left: calc(100vw - 105px);
  width: 90px;
  height: 90px;
  background: transparent;
  position: fixed;
  border-radius: 5px;
  display: none;
  z-index: 102;
}

.nav-opener:hover {
  opacity: 0.9;
}
.nav-opener span,
.nav-opener:before,
.nav-opener:after {
  background: #2cbca6;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 25%;
  right: 25%;
  height: 8px;
  margin-top: -15px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.nav-opener:before,
.nav-opener:after {
  content: "";
  top: 30%;
}

.nav-opener:after {
  top: 70%;
}

.bar {
  float: right;
  text-align: right;
  margin: -4px 0 0;
}

.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  color: #00457c;
  padding: 18px 40px;
  background: #fff;
  text-decoration: none;
  border-radius: 8px;
  position: relative; /*min-width: 160px;*/
  text-align: center;
  -webkit-transition: background 0.5s ease 0s;
  transition: background 0.5s ease 0s;
}

.btn:after {
  content: ""; /*display: inline-block;
        vertical-align: top;*/
  position: absolute;
  right: 10px;
  top: 50%;
  width: 7px;
  height: 7px;
  border: 1px solid #fff;
  border-width: 0 0 1px 1px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin: -3px;
  line-height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease 0s, right 0.5s linear 0s;
  transition: opacity 0.5s ease 0s, right 0.5s linear 0s;
  z-index: 1;
}

.btn:hover {
  background: #eee;
}

.btn:hover:after {
  border: 1px solid #00457c;
  border-width: 0 0 1px 1px;
  right: 26px;
  opacity: 1;
}

.btn.btn-contact {
  background: #aedaff;
  margin: 0 9px 0 26px;
  padding: 16px 35px; /*min-width: 144px;*/
}

.btn.btn-contact:after {
  border: 1px solid #aedaff;
  border-width: 0 0 1px 1px;
  margin: -4px;
}

.btn.btn-contact:hover {
  background: #9ec3eb;
}

.btn.btn-contact:hover:after {
  border: 1px solid #00457c;
  border-width: 0 0 1px 1px;
}

.main-nav {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 16px;
  line-height: 19px;
}

#nav {
  display: inline-block;
  vertical-align: top;
}

#nav > li {
  display: inline-block;
  vertical-align: top;
  /*padding: 18px 16px 25px;*/
  position: relative;
}

#nav > li.active > a {
  color: #2cbca6;
}

#nav > li.hover > a,
#nav > li:hover > a {
  color: #2cbca6;
}

#nav > li.hover > ul,
#nav > li:hover > ul {
  display: block;
}

#nav > li > a {
  /*color: #fff;*/
  text-decoration: none;
}

#nav > li > a:hover {
  color: #2cbca6;
}

#nav > li > ul {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 204px;
  background: #fff;
  border-radius: 8px;
  padding: 8px 0;
  display: none;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 0 -102px;
  box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.3);
}

#nav > li > ul:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 100%;
  border: solid transparent;
  border-bottom-color: #fff;
  border-width: 7px;
  margin: 0 0 0 -7px;
}

#nav > li > ul li {
  vertical-align: top;
}

#nav > li > ul li.hover > a,
#nav > li > ul li:hover > a {
  background: #eee;
  color: #3a3a3a;
}

#nav > li > ul li.hover > a:after,
#nav > li > ul li:hover > a:after {
  border: 1px solid #3a3a3a;
  border-width: 0 0 1px 1px;
}

#nav > li > ul li.hover ul,
#nav > li > ul li:hover ul {
  display: block;
}

#nav > li > ul li > a {
  display: block;
  padding: 9px 37px 9px 17px;
  position: relative;
  text-decoration: none;
  color: #828282;
  z-index: 10;
}

#nav > li > ul li > a:hover {
  background: #eee;
  color: #3a3a3a;
}

#nav > li > ul li > a:hover:after {
  border: 1px solid #3a3a3a;
  border-width: 0 0 1px 1px;
}

#nav > li > ul ul {
  position: absolute;
  top: 0;
  left: 100%;
  width: 194px;
  border-radius: 0 8px 8px 8px;
  margin: 0 0 0 -8px;
  padding: 8px 0;
  background: #fff;
  font-size: 14px;
  line-height: 17px;
  box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.3);
  display: none;
}

#nav > li > ul ul li a {
  text-decoration: none;
  display: block;
  padding: 9px 17px;
  color: #828282;
  background: none;
}

#nav > li > ul ul li a:hover {
  color: #3a3a3a;
}

#nav > li > ul ul li a sup {
  font-size: 9px;
  line-height: 13px;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0;
}
@media only screen and (max-width: 1023px) {
  .mobile-no-show {
    display: none;
  }
  .home-text {
    width: 80%;
  }
  .home-text h1 {
    font-size: 8rem;
    margin-top: 50px;
    border-top: 20px solid #2cbca6;
    width: auto;
    display: inline-block;
  }
  .home-text h2 {
    display: block;
    font-size: 2.5rem;
    border-bottom: 0px solid #2cbca6;
  }
  .home-text p {
    font-size: 2rem;
  }
  .home-text a {
    font-size: 2rem;
    letter-spacing: 10px;
    padding: 20px 60px;
    border-radius: 100px;
  }
  .home-text img {
    width: 40%;
    display: block;
    margin-top: 10%;
    opacity: 0.8;
  }
  .menu-nav {
    position: fixed;
    height: 150px;
  }
  .menu-nav img {
    width: 15%;
    height: auto;
    padding: 15px;
  }
  .menu-nav a {
    display: block;
    font-size: 2rem;
  }
  .header-bg {
    padding-top: 360px;
    background: #222 !important;
    height: 250px;
  }
  .header-bg h1 {
    font-size: 4rem;
  }
  .child-text p {
    font-size: 2rem;
  }
  .child-text h2 {
    font-size: 2rem;
  }

  .card-contact {
    width: 90%;
    margin-top: 10%;
  }
  .card-contact i {
    font-size: 3rem;
  }
  .child-text-project {
    text-align: center;
    width: 80%;
  }
  .child-text-project h2 {
    margin-left: 0;
  }
  .child-text-project img {
    width: 50%;
  }
  .child-text-project h3 {
    font-size: 3rem;
  }

  .child-text-project p {
    text-align: left;
  }

  .card-contact h3 {
    font-size: 3rem;
  }

  .green {
    font-size: 3rem;
  }
  .card-team {
    height: auto;
    width: 100%;
  }
  .card-team img {
    display: none;
  }
  .card-team h2 {
    padding-left: 15px;
  }
  .card-team h3 {
    padding-left: 15px;
    font-size: 1.5rem;
  }
  .card-team p {
    padding-left: 15px;
    font-size: 1.5rem;
  }
  .nav-opener {
    display: block;
  }

  .bar {
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 85px);
    overflow: auto;
    margin: 0;
    /*padding: 0 0 10px;*/
    margin-right: 10px;
    padding-top: 90px;
    background: #fff;
    opacity: 0;
    /*-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		transform: translateY(-100%);*/
  }

  .nav-active .bar {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  .resize-active .bar {
    -webkit-transition: none;
    transition: none;
  }

  .btn.btn-contact {
    margin: 0;
  }

  .main-nav {
    text-align: center;
    display: block;
    font-size: 1rem;
  }

  #nav {
    display: block;
    margin: 0 0 10px;
    border-bottom: 1px solid #fff;
  }

  #nav > li {
    display: block;
  }

  #nav > li.active > a {
    background: rgb(44, 188, 166);
    color: #fff;
  }

  #nav > li.hover > a,
  #nav > li:hover > a {
    background: rgb(44, 188, 166);
    color: #fff;
  }
  #nav > li > a {
    color: inherit;
    display: block;
    padding: 35px 10px;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 35px;
    letter-spacing: 5px;
    margin-top: 30px;
    background: #eee;
    color: rgb(44, 188, 166);
    border-top: 1px solid #fff;
  }

  #nav > li > a:hover {
    background: rgb(44, 188, 166);
    color: #fff;
  }

  #nav > li > ul {
    position: relative;
    width: 100%;
    box-shadow: none;
    margin: 0;
    padding: 0;
    left: auto;
    top: auto;
    display: block;
  }

  #nav > li > ul:before {
    border-bottom-color: transparent;
  }

  #nav > li > ul ul {
    position: relative;
    width: 100%;
    box-shadow: none;
    margin: 0;
    left: auto;
    top: auto;
    display: block;
  }
}
